@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #EAF1FF;
  --foreground: #001118;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #001118;
    --foreground: #ededed;
  }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    background: var(--background);
    color: var(--foreground);
}